#listHeader {
  background-color: red;
  margin-top: 10px;
  display: flex;
  color: white;
  justify-content: center;
  text-transform: uppercase;
}

#listHeader span{
  margin: 10px 10px 10px 3em;
  font-weight: 400;
}